@model WebApplication5.Models.Employees

@{
    ViewBag.Title = "Update Employee";
}

<h2>Update Employee</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <table>
        <tr style="display:none">

            <td>
                 Id
            </td>
            <td>
                @Html.EditorFor(modelite => Model.ID, new { placeholder = "Name" })
            </td>
            </tr><tr>
    <td>
         Name
    </td>


    <td>
        @Html.EditorFor(modelite => Model.Name, new { placeholder = "Name" })
    </td>

</tr>
       
        <tr>
            <td>
                City
            </td>
            <td>
                @Html.EditorFor(model => Model.City, new { @class = "form-control", placeholder = "City" })
            </td>
        </tr>

        <tr>

            <td>
                 Gender
            </td>
            <td>

               
                    @Html.RadioButtonFor(model => model.gender, "Male", new { @checked = true })
                    @Html.Label("Male")
                    @Html.RadioButtonFor(model => model.gender, "Female")
                    @Html.Label("Female")


               

            </td>
        </tr>
        <tr>
            <td>

                Birth Date
            </td>
            <td>

                @Html.TextBoxFor(model => model.Bdate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker", placeholder = "DD/MM/YYYY", maxlength = "100" })


            </td>

        </tr>

        <tr>
            <td>
                Age
            </td>
            <td>
                @Html.EditorFor(modelite => Model.Address, new { placeholder = "Age" })
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Update" class="btn btn-default" /> @ViewBag.Message</td>


          

        </tr>
        <tr>
            <td><p>@Html.ActionLink("Add New Employee", "AddEmployee")</p>
</td><td style="margin-left:20px">
            <p>@Html.ActionLink("Show All Employee", "ShowAllEmployee")</p>
        
            </td>
        </tr>
    </table>
   

}

